Flutter_predictionApp/.dart_tool/
Flutter_predictionApp/.flutter-plugins
Flutter_predictionApp/.flutter-plugins-dependencies
Flutter_predictionApp/.packages
Flutter_predictionApp/android/.gradle/
Flutter_predictionApp/build/
Flutter_predictionApp/ios/Flutter/Generated.xcconfig
Flutter_predictionApp/ios/Flutter/flutter_export_environment.sh